[Desktop Entry]
Encoding=UTF-8
Name=Oracle Java 6 Console
Comment=Oracle Java 6 Monitoring & Management Console
Exec=/usr/lib/jvm/java-6-oracle/jconsole
Terminal=false
Type=Application
Icon=oracle_java6
Categories=Application;System;
